@use '../assets/assets' as *;


.rating{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;

    &--active{
        display: none;
    }

    &__frame{
        width: 40px;
        aspect-ratio: 1;
        display: grid;
        place-items: center;
        border-radius: 50%;
        background-color: rgba($color: $medium-grey, $alpha: 0.2)
    }

    &__title{
        font-weight: 700;
        font-size: 30px;
    }

    &__text{
        color: $light-grey;
    }

    &__list{
        display: flex;
        justify-content: space-between;
    }

    &__options{
        display: block;
        list-style: none;
        display: grid;
        place-items: center;
        background-color: rgba($color: $medium-grey, $alpha: 0.1);
        color: $medium-grey;
        padding: 4px;
        border-radius: 50%;
        width: 50px;
        aspect-ratio: 1;
        transition: background-color .3s ease,color .3s ease;
        cursor: pointer;
        &:hover, &--active{
            background-color: $orange;
            color: $white
        }
    }

    &__error{
        text-align: center;
        max-height: 0px;
        overflow: hidden;
        color: hsl(349, 100%, 55%);
        transition: max-height .2s ease;
    }

    &__button{
        background-color: $orange;
        outline: none;
        border: none;
        color: inherit;
        text-transform: uppercase;
        padding: 16px 0;
        font-weight: 700;
        letter-spacing: 2px;
        cursor: pointer;
        border-radius: 25px;
        transition: background-color .3s ease,color .3s ease;
        &:hover{
            background-color: $white;
            color: $orange
        }
    }
}